#App {
  overflow: hidden;
  margin: 10px;
  padding-right: 10px;
}
textarea {
  width: 100%;
}
button {
  cursor: pointer;
}

dialog::backdrop { 
  background-color: rgba(0, 0, 0, 0.9);
}
pre {
  margin: 0px;
}

#output {
  overflow: auto;
  font-size: 10px;
}

#dlg-curl {
  width: 90%; 
}

.content {
  height: calc(100vh - 80px);
  padding: 0px;
  border: #f09009 solid 1px;
}